.navbar{
  background-color: #1d1d1d;
  border-bottom: 1px solid #262626;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  margin-bottom: 0;
  padding: .5rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #e9ecef;
  font-size: 3ch;
  font-weight: bold;
  text-align: center;
}